<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <div id="ponteiro"></div>
    <div id="roleta">
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
        <div class="slice"></div>
    </div>

    <select id="colorSelect">
        <option value="red">Vermelho</option>
        <option value="orange">Laranja</option>
        <option value="yellow">Amarelo</option>
        <option value="green">Verde</option>
        <option value="blue">Azul</option>
        <option value="indigo">Indigo</option>
        <option value="violet">Violeta</option>
        <option value="pink">Rosa</option>
    </select>

    <input id="valorAposta" type="number" min="0" placeholder="Valor da aposta">

    <button onclick="apostar()">Apostar</button>

    <p id="resultado"></p>

    <script>
        var mapColorToAngle = {
            'red': -90,
            'orange': -45,
            'yellow': 0,
            'green': 45,
            'blue': 90,
            'indigo': 135,
            'violet': 180,
            'pink': 225
        };

        function apostar() {
            var colorSelect = document.getElementById("colorSelect");
            var selectedColor = colorSelect.options[colorSelect.selectedIndex].value;
            var valorAposta = document.getElementById("valorAposta").value;
            var cores = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'pink'];
            var corSorteada = cores[Math.floor(Math.random() * cores.length)];
            var roleta = document.getElementById('roleta');
            roleta.style.transform = 'rotate(' + mapColorToAngle[corSorteada + 360] + 'deg)';
            roleta.classList.add('spin');

            var roleta = document.getElementById('roleta');
            roleta.style.transform = 'rotate(' + mapColorToAngle[corSorteada] + 'deg)';
            roleta.classList.add('spin');

            setTimeout(function() {
                roleta.classList.remove('spin');
                if(selectedColor == corSorteada) {
                    document.getElementById('resultado').innerText = "Parabéns, você ganhou! Você apostou na cor " + selectedColor + " e a cor sorteada foi " + corSorteada;
                } else {
                    document.getElementById('resultado').innerText = "Infelizmente, você perdeu. Você apostou na cor " + selectedColor + ", mas a cor sorteada foi " + corSorteada;
                }
            }, 3000);
        }
    </script>
</body>
</html>
