<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Login</title>
</head>
<body>
    <div class="header-login">
        <h1>Nome do Site de Aposta</h1>
        <img src="" alt="">
    </div>
    <div class="container-login">
        <form action="LoginUsuario" class="form-login-user">
            <label for="Login">Login:</label>
            <input type="text" id="user-login" placeholder="Login">
            <label for="Password">Senha:</label>
            <input type="text" id="user-password" placeholder="Senha">
            <div class="container-button">
                <button id="register-user">Registre</button>
                <button id="enter-login-user">Confirmar Login</button>
            </div>
        </form>
    </div>
</body>
</html>